<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <!--用于指定浏览器应该使用最新的渲染引擎来显示网页内容-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--用于提供网页的简短描述-->
    <meta name="description" content="">
    <!--用于控制网页在不同设备上的视口设置,设置视口的宽度等于设备的宽度,设置初始缩放比例为1-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <title>{% block title %}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap5/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='bootstrap5/docs.css') }}" rel="stylesheet">
    <link rel="manifest" href="{{ url_for('static', filename='bootstrap5/manifest.json') }}">
    <!--theme stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.default.premium.css') }}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap5/shCore.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap5/shCoreDefault.css') }}">
    <script type="text/javascript">SyntaxHighlighter.all();</script>
    <meta name="theme-color"content="#7952b3">

  </head>

  <body>
    <header class="navbar navbar-expand-md navbar-dark bd-navbar">
      <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
        <a class="navbar-brand p-0 me-2" href="{{ url_for('front.index') }}" aria-label="SmartEnzymeDB">SmartEnzymeDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
            </path>
          </svg>
        </button>
        <div class="collapse navbar-collapse" id="bdNavbar">
          <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0 ms-auto">
            <li class="nav-item col-6 col-md-auto">
              <a class="nav-link p-2" href="/article/list/" title="Bootstrap教程">文章教程</a>
            </li>
            <li class="nav-item col-6 col-md-auto">
              <a class="nav-link p-2" href="/doc/list" title="Bootstrap中文网提供最流行的前端框架文档">文档手册</a>
            </li>
            <li class="nav-item col-6 col-md-auto">
              <a class="nav-link p-2" href="/down/list" title="Bootstrap下载，前端框架文件">资源下载</a>
            </li>
            <li class="nav-item col-6 col-md-auto">
              <a class="nav-link p-2" href="#">字体图标</a>
            </li>
          </ul>
          <hr class="d-md-none text-white-50">
          {% if not current_user.is_authenticated %}
          <a class="btn btn-bd-download d-lg-inline-block my-2 my-md-0 ms-md-3" href="{{ url_for('front.login') }}">Login</a>
          <hr class="d-md-none text-white-50">
          <a class="btn btn-bd-download d-lg-inline-block my-2 my-md-0 ms-md-3" href="{{ url_for('front.register') }}">Sign Up</a>
          {% else %}
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >{{ current_user.username }}<span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">个人主页</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">退出登录</a></li>
            </ul>
          </li>
          {% endif %}
        </div>
      </nav>
    </header>

    <div class="container">
        {% block body %}{% endblock %} {% block footer %}{% endblock %}
    </div>

    <!-- Bootstrap 依赖 jQuery -->
    <script src="{{ url_for('static', filename='bootstrap5/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/just-validate/js/just-validate.min.js') }}"></script>
    
  </body>
  
</html>