{% extends "base.html" %}

{% block body %}

<div class="login-page d-flex align-items-center bg-gray-100">
    <div class="container mb-3">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-body p-5">
              <header class="text-center mb-5">
                <h1 class="text-xxl text-gray-400 text-uppercase">
                    <strong class="text-primary">SmartEnzymeDB</strong>
                </h1>
              </header>
              <form class="login-form" method="get" action="{{ url_for('front.login') }}">
                {{ form.csrf_token }}
                <div class="row">
                  <div class="col-lg-7 mx-auto">
                    <div class="input-material-group mb-3">
                        {{ form.email.label }} {{ form.email(class='form-control') }}
                    </div>
                    <div class="input-material-group mb-4">
                        {{ form.password.label }} {{ form.password(class='form-control') }}
                    </div>
                  </div>
                  <div class="col-12 text-center">       
                    <button class="btn btn-primary mb-3" id="login" type="submit">Login</button><br><a class="text-xs text-paleBlue" href="#!">Forgot Password?  </a><br><span class="text-xs mb-0 text-gray-500">Do not have an account?  </span><a class="text-xs text-paleBlue ms-1" href="{{ url_for('front.register') }}"> Sign up</a>
                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center position-absolute bottom-0 start-0 w-100 z-index-20">
        <p class="text-gray-500"><a target="_blank" href="{{ url_for('front.index') }}" title="back">back</a>
        </p>
    </div>
  </div>
{% endblock %}